{% include 'layout2.html' %}
{% block body %}
    <div class="card-group">
        <div class="card">
            <img src="{{ url_for('video_feed')}}" style="width: 50vw; height: 48vh" alt="CCTV 1">
        </div>
        <div class="card">
            <img src="{{ url_for('cam2')}}" style="width: 50vw; height: 48vh" alt="CCTV 2">
        </div>
    </div>
<div class="card-group">
        <div class="card">
            <img src="{{ url_for('cam3')}}" style="width: 50vw; height: 50vh" alt="CCTV 3">
        </div>
        <div class="card">
            <img src="{{ url_for('cam4')}}" style="width: 50vw; height: 50vh" alt="CCTV 4">
        </div>
    </div>
{% include 'includes/navbar2.html' %}
{% endblock %}
