{% include 'layout2.html' %}
{% block body %}
    <div class="card-group">
        <div class="card">
            <img src="{{ url_for('video_feed')}}" alt="CCTV 1">
        </div>
        <div class="card">
            <img src="{{ url_for('aicare1')}}" alt="CCTV 2">
        </div>
    </div>
    <div class="card-group">
        <div class="card">
            <img src="{{ url_for('aicare1')}}" alt="CCTV 2">
        </div>
        <div class="card">
            <img src="{{ url_for('aicare3')}}" alt="CCTV 4">
        </div>
    </div>
{% include 'includes/navbar2.html' %}
{% endblock %}
